<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BeautifulBlueprints" version="0.0.6.0" targetFramework="net45" />
  <package id="Dragablz" version="0.0.1.110" targetFramework="net45" />
  <package id="EpimetheusPlugins" version="1.0.5618.28790" targetFramework="net45" />
  <package id="Extended.Wpf.Toolkit" version="2.4" targetFramework="net45" />
  <package id="HandyCollections" version="1.1.0.0" targetFramework="net45" />
  <package id="MahApps.Metro" version="1.1.2.0" targetFramework="net45" />
  <package id="MahApps.Metro.Resources" version="0.4.0.0" targetFramework="net45" />
  <package id="Myre" version="4.0.0.0" targetFramework="net45" />
  <package id="Myre.Debugging" version="3.0.0.0" targetFramework="net45" />
  <package id="Myre.Entities" version="6.0.1.0" targetFramework="net45" />
  <package id="Myre.Graphics" version="5.2.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net45" />
  <package id="Ninject" version="3.2.2.0" targetFramework="net45" />
  <package id="NLog" version="3.2.1" targetFramework="net45" />
  <package id="Placeholder" version="2.2.0.0" targetFramework="net45" />
  <package id="Placeholder.AI" version="1.0.5.0" targetFramework="net45" />
  <package id="Placeholder.AI.Control" version="13.1.0.0" targetFramework="net45" />
  <package id="Placeholder.AI.Pathfinding" version="8.2.2.0" targetFramework="net45" />
  <package id="Placeholder.AI.Planning.Parsing" version="4.1.2.0" targetFramework="net45" />
  <package id="Placeholder.Audio2" version="4.4.3.0" targetFramework="net45" />
  <package id="Placeholder.ConstructiveSolidGeometry" version="8.2.0.0" targetFramework="net45" />
  <package id="Placeholder.Content" version="1.2.3.0" targetFramework="net45" />
  <package id="Placeholder.Entities" version="1.4.1.0" targetFramework="net45" />
  <package id="Placeholder.Networking" version="1.2.0.0" targetFramework="net45" />
  <package id="Placeholder.Serialization" version="2.0.0.0" targetFramework="net45" />
  <package id="RestSharp" version="105.1.0" targetFramework="net45" />
  <package id="Rx-Core" version="2.2.5" targetFramework="net45" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="net45" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="net45" />
  <package id="Rx-Main" version="2.2.5" targetFramework="net45" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="net45" />
  <package id="SharpYaml" version="1.4.0" targetFramework="net45" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net45" />
  <package id="SupersonicSound" version="1.2.0.0" targetFramework="net45" />
  <package id="System.IO.Abstractions" version="2.0.0.115" targetFramework="net45" />
  <package id="websocket-sharp.clone" version="1.0.2.0" targetFramework="net45" />
</packages>